/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
  margin: 0 auto;
  margin-top: 140px;
  padding: 0;
  list-style-type: none;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}

/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

.chart-skills::before {
  content: '';
  width: inherit;
  height: inherit;
  border: 45px solid rgba(211, 211, 211, 0.3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills::after {
  content: 'Credit Score';
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  font-weight: bold;
  color: cadetblue;
}

.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 45px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation-fill-mode: forwards;
  animation-duration: 1.6s;
  animation-timing-function: linear;
  list-style-type: none;
  margin: 0px;
}

.chart-skills li:nth-child(1) {
  z-index: 6;
  border-color: rgb(245, 70, 98);
  animation-name: rotate-one;
}

.chart-skills li:nth-child(2) {
  animation-name: rotate-two;
}

.chart-skills li:nth-child(3) {
  z-index: 4;
  border-color: rgb(253, 184, 70);
  animation-name: rotate-two;
}

.chart-skills li:nth-child(4) {
  z-index: 3;
  border-color: rgb(110, 224, 108);
  animation-name: rotate-three;
}

.chart-skills li:nth-child(5) {
  z-index: 2;
  border-color: rgb(10, 199, 117);
  animation-name: rotate-four;
}

.chart-skills li:nth-child(6) {
  z-index: 1;
  border-color: rgb(2, 159, 125);
  animation-name: rotate-five;
}

.chart-skills span {
  position: absolute;
  font-size: 0.85rem;
  backface-visibility: hidden;
  animation: fade-in 1.8s linear forwards;
}

.chart-skills li:nth-child(1) span {
  top: 100px;
  left: 84px;
  transform: rotate(-165.6deg);
}

.chart-skills li:nth-child(2) span {
  top: 74px;
  left: 38px;
  transform: rotate(-138.2deg);
}

.chart-skills li:nth-child(3) span {
  top: 26px;
  left: 6px;
  transform: rotate(-108.2deg);
}

.chart-skills li:nth-child(4) span {
  top: 25px;
  left: 6px;
  transform: rotate(-107.4deg);
}

.chart-skills li:nth-child(5) span {
  top: 14px;
  left: 4px;
  transform: rotate(-105deg);
}

.chart-skills li:nth-child(6) span {
  top: 34px;
  left: 10px;
  transform: rotate(-114deg);
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
  100% {
    transform: rotate(80deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(105deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(130deg);
  }
}

@keyframes rotate-four {
  0% {
    transform: rotate(17deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

@keyframes rotate-five {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fade-in {
  0%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
