hr {
  margin: 5px;
}

.budgets-view {
  display: flex;
  margin-top: 60px;
  width: 100%;
  height: auto;
}

.add-budget-container {
  width: 395px;
  padding: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5px 5px 0 5px;
  border: solid gray 1px;
  margin-top: 5px;
}

.menu-item {
  min-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
  border: solid gray 1px;
  cursor: pointer;
}

.add-type-btn,
.view-type-btn {
  height: 40px;
  padding: 10px;
  background: #66b268;
  font-size: 16px;
  color: #ffffff;
  border: solid gray 1px;
  cursor: pointer;
}

.type-input {
  width: 165px;
  height: 30px;
  margin-left: 10px;
  font-size: 15px;
  color: gray;
  border: solid 1px;
  border-radius: 3px 0 0 3px;
  padding: 4px 10px;
}

.add-type-btn {
  border-radius: 0 3px 3px 0;
  font-weight: bold;
}

.view-type-btn {
  width: 165px;
  border-radius: 3px;
}

.budgets-container {
  height: auto;
  display: flex;
  flex-direction: row;
}

.current-budgets {
  position: absolute;
  left: 460px;
}

.current-budget-list {
  width: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.current-budget-item {
  position: relative;
  width: 100%;
  height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 12px;
  font-size: 16px;
  color: #ffffff;
  border: solid gray 1px;
  outline: none;
  cursor: pointer;
}

.current-budget-item:hover {
  background: rgb(240, 240, 240);
}

.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 200px;
}

.modal {
  background-color: #fff;
  border-radius: 3px;
  max-width: 500px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
}

.modal-input {
  height: 20px;
  width: 250px;
  font-size: 14px;
  padding: 3px 6px;
}

.modal-submit-btn {
  position: absolute;
  display: block;
  margin-top: 121px;
  width: 150px;
  height: 30px;
  background: #77b070;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.close-modal-btn {
  float: right;
  width: 150px;
  height: 30px;
  margin-top: 121px;
  background: #e16753;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.light {
  position: absolute;
  height: 100%;
}

.dark {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: -16px;
  margin-left: -7px;
}

.text-left {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 25px;
}

.text-right {
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 25px;
}
