hr {
  margin: 5px;
}

.budgets-view {
  display: flex;
  margin-top: 60px;
  width: 100%;
  height: auto;
}

.add-budget-container {
  position: relative;
  height: auto;
  width: 453px;
  padding: 5px;
  border: solid black 1px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5px 5px 0 5px;
  border: solid gray 1px;
  margin-top: 5px;
}

.menu-item {
  min-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
  border: solid gray 1px;
}

.add-type-btn,
.view-type-btn {
  height: 40px;
  padding: 10px;
  background: #66b268;
  font-size: 16px;
  color: #ffffff;
  border: solid gray 1px;
}

.type-input {
  width: 188px;
  height: 30px;
  margin-left: 10px;
  font-size: 15px;
  color: gray;
  border: solid 1px;
  border-radius: 3px 0 0 3px;
  padding: 4px 10px;
}

.add-type-btn {
  border-radius: 0 3px 3px 0;
  font-weight: bold;
}

.view-type-btn {
  width: 200px;
  border-radius: 3px;
}

.budgets-container {
  /* width: 100%; */
  height: auto;
  display: flex;
  flex-direction: row;
}

.current-budgets {
  width: calc(100% - 475px);
  height: auto;
  min-height: 600px;
  border-bottom: solid gray 1px;
  border-right: solid gray 1px;
  padding: 5px;
}

.current-budget-list {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.current-budget-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  margin-bottom: 7px;
  font-size: 16px;
  color: #ffffff;
  border: solid gray 1px;
  outline: none;
}

.current-budget-item:hover {
  background: rgb(240, 240, 240);
}

.modal-input {
  height: 20px;
  width: 250px;
  font-size: 14px;
  padding: 5px;
}
