hr {
  margin: 5px;
}

.budgets-view {
  /* position: fixed; */
  display: flex;
  margin-top: 70px;
  width: 100%;
  height: auto;
}

.budgets-header {
  position: fixed;
  z-index: 2;
  margin-top: -31px;
  border-bottom: solid gray 1px;
  width: 38%;
  padding: 45px 30px 15px 20px;
  height: 20px;
  background: white;
}

.add-budget-container {
  position: fixed;
  width: 395px;
  padding: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 5px 5px 0 5px;
  border: solid gray 1px;
  margin-top: 5px;
}

.menu-item {
  min-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
  border: solid gray 1px;
  cursor: pointer;
}

.add-type-btn,
.view-type-btn {
  height: 40px;
  padding: 10px;
  background: #66b268;
  font-size: 16px;
  color: #ffffff;
  border: solid gray 1px;
  cursor: pointer;
}

.type-input {
  width: 165px;
  height: 30px;
  margin-left: 10px;
  font-size: 15px;
  color: gray;
  border: solid 1px;
  border-radius: 3px 0 0 3px;
  padding: 4px 10px;
}

.add-type-btn {
  border-radius: 0 3px 3px 0;
  font-weight: bold;
}

.view-type-btn {
  width: 165px;
  border-radius: 3px;
}

.budgets-container {
  height: auto;
  display: flex;
  flex-direction: row;
}

.current-budgets {
  position: absolute;
  left: 460px;
}

.current-budget-list {
  width: 525px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.current-budget-item {
  position: relative;
  width: 100%;
  height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #ffffff;
  border-radius: 3px;
  border: solid gray 1px;
  outline: none;
  cursor: pointer;
}

.current-budget-item:hover {
  background: rgb(240, 240, 240);
}

.light {
  position: absolute;
  height: 100%;
}

.dark {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: -16px;
  margin-left: -7px;
}

.text-left {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 25px;
}

.text-right {
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 25px;
}
