.add-transaction-container {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  position: sticky;
  background: #fff;
  top: 60px;
}

.add-transaction-btn,
.add-expense-btn {
  height: 30px;
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
  border: solid gray 1px;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 2px;
}

.add-transaction-btn {
  background: #66b268;
}

.add-expense-btn {
  background: #c26b6b;
}

.display-transactions {
  width: 100%;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 200px;
}

.modal {
  background-color: #fff;
  border: solid black 1px;
  border-radius: 3px;
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}

.transaction-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transaction-input {
  display: block;
  margin-top: 10px;
  border-radius: 4px;
}

.transaction-select {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  height: 28px;
  width: 266px;
  margin: 10px 0 20px 0;
  font-size: 14px;
  background: #fff;
  outline: none;
}

.transaction-datepicker {
  height: 20px;
  width: 250px;
  font-size: 14px;
  padding: 3px 6px;
  cursor: pointer;
  border: solid gray 1px;
  border-radius: 4px;
  margin-top: 10px;
}

/* Table */

table {
  width: 90%;
  margin: 0 auto;
}

tr {
  display: flex;
}

tr:nth-child(odd) {
  background: rgb(235, 235, 235);
}

th {
  background: lightgray;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
}

td,
th {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  padding: 6px 10px;
  border: solid gray 1px;
  border-collapse: collapse;
}

td {
  font-size: 15px;
}

tr:hover {
  background: rgb(233, 233, 233);
}

.sort {
  background: url('../../assets/sort.png') center no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
}
