.summary-section {
  width: 1200px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  border: solid 1px black;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px gray;
}

.chart-year,
.chart-month {
  padding: 25px;
  margin: 0 auto;
}

.chart-year {
  min-width: 600px;
}

.chart-month {
  min-width: 450px;
}

.month-section {
  padding: 50px;
  width: 830px;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}

.pie-container {
  min-width: 400px;
  width: 400px;
}

.pie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

.right-arrow,
.left-arrow {
  color: #111;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
  width: 20px;
  height: 20px;
}

.left-arrow:hover,
.right-arrow:hover {
  opacity: 0.5;
}

.left-arrow {
  background: url('https://s3-us-west-1.amazonaws.com/erikgoldenbucket/specie/leftArrow.png') center no-repeat;
  background-size: contain;
}

.right-arrow {
  background: url('https://s3-us-west-1.amazonaws.com/erikgoldenbucket/specie/rightArrow.png') center no-repeat;
  background-size: contain;
}

.no-data-message {
  text-align: center;
  box-sizing: border-box;
  padding-top: 100px;
  height: 400px;
}

.budget-summary {
  width: 350px;
  padding: 20px;
  border: solid 1px black;
  box-shadow: 2px 2px 3px gray;
}

.budget-summary-row {
  display: flex;
  justify-content: space-between;
}

.csv {
  cursor: pointer;
}

p {
  margin: 7px 0;
  font-size: 14px;
}

h3 {
  margin: 8px 0;
  font-weight: bold;
}

h6 {
  margin: 8px 0;
  color: gray;
}
