button.login {
  margin-right: 20px;
  border: none;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #313131;
  z-index: 99;
  transition: background-color 0.4s;
}

.logo {
  width: 100px;
  height: 50px;
  background: url('../../assets/white.png') center no-repeat;
  background-size: contain;
  margin: 0 15px;
}
