button.login {
  margin-right: 20px;
  border: none;
}

.logo {
  width: 100px;
  height: 50px;
  background: url('https://s3-us-west-1.amazonaws.com/erikgoldenbucket/specie/white.png') center no-repeat;
  background-size: contain;
  margin: 0 15px;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #313131;
  z-index: 99;
  transition: background-color 0.4s;
  border-bottom: solid black 1px;
}

.nav > button {
  width: 90px;
  height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border-radius: 1px;
  background-color: #fd8a10;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav > button:focus {
  outline: 0;
}

.nav > button:hover {
  background-color: hsl(31, 89%, 38%);
}

.nav > button:active {
  outline: none;
  border: none;
}

.nav-links {
  position: relative;
  display: flex;
  width: 30%;
  justify-content: center;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-right: 30px;
  height: 50px;
  text-align: center;
  padding: 0 10px;
  transition: color 0.2s ease;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 8px;
  left: 0;
  background-color: #6aea70;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover::before {
  background-color: #fff;
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out 0s;
}

.hamburger-icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: url('https://s3-us-west-1.amazonaws.com/erikgoldenbucket/specie/menu-icon.png') center no-repeat;
  background-size: cover;
  margin-right: 10px;
  cursor: pointer;
}

.hamburger-menu {
  content: none;
  position: absolute;
  top: 50px;
  right: -10px;
  width: 200px;
  height: 0px;
  background-color: #313131;
  transform: translateY(0);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.hamburger-menu.open {
  transform: translateY(1px);
  height: 400px;
}

.hamburger-menu-item {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.hamburger-menu-item:hover {
  background: #414141;
}

@media (min-width: 900px) {
  .hamburger-icon {
    display: none;
  }
}

@media (max-width: 1800px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .nav-link {
    display: none;
  }

  button.login {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .nav-link {
    display: none;
  }

  button.login {
    display: none;
  }
}
